{{#if @custom.mastodon_url}}
  <a class="wtf-social-link" href="{{@custom.mastodon_url}}" rel="me">{{> "icons/mastodon"}}</a>
{{/if}}
{{#if @custom.github_url}}
  <a class="wtf-social-link" href="{{@custom.github_url}}">{{> "icons/github"}}</a>
{{/if}}